body {
    background-color: yellow;
    display:flex;
    flex-direction: column;
    margin: 0px;
}

#hero {
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;
    display: flex;
    margin: 0px;
}

/*#hero_content {
    width: 883px;
    height: 510px;
    background-image: url(imagens/heaven_hell.svg);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    
}*/

#heaven {
    width:50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sprite_heaven {
    display: flex;
    width: 425px;
    height: 511px;
    background-size: 825px 514px;
    background: url(imagens/heaven_sprite.svg) 0 0;
    background-repeat: no-repeat;
    
}

.sprite_heaven:hover {
    display: flex;
    background-size: 825px 514px;
    background: url(imagens/heaven_sprite.svg) -426px 0;
    background-repeat: no-repeat;
    
  
}

#hell {
    width:50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
     margin-left: 30px;
   

}

    
    
.sprite_hell {
    display: flex;
    width: 425px;
    height: 511px;
    background-size: 825px 514px;
    background: url(imagens/hell_sprite.svg) -425px 0;
    background-repeat: no-repeat;
    
}

.sprite_hell:hover {
    display: flex;
    background-size: 825px 514px;
    background: url(imagens/hell_sprite.svg) 0 0;
    background-repeat: no-repeat;
}
 

/*FOOTER*/

#footer {
    width: 100vw;
    height: 100px;
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#footer_logo {
    width: 132px;
    height: 32px;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    margin top: 36px;
    margin-left: 70px;
}

#footer_send {
    width: 147px;
    height: 23px;
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    position: absolute;
    right: 218px;
    display: flex;
}

#footer_mail_1 {
    width: 170px;
    height: 23px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 70px;
    display: flex;
}